{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<html>
<div class="container">
    <!-- contenedor simplemente ordena la imagen del premio, numero y la descripcion -->
    <div class="section-title">
        <!-- Este debe ser el link a una imagen guardada en los archivos de un logo de un premio -->
        <br>
        <img src="{% static 'assets/img/prizes/trofeo2.jpeg'%}" width="100" height="100" class="img-fluid" alt="">
        <h3>
            <span>{{instance.numero}}</span>
            <hr>
        </h3>
        <h4>
            {{instance.descripcion}}
        </h4>

    </div>
</div>
</html>